:root {
    /* Palette */
    --primary-col: #141922;
    --secondary-col: #282828;
    /* Commons */
    --gray-col: #a3a3a3;
    --song-titles-col: white;
    --dark-gray: #333;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEST  */

body{
    background-color: pink;
    position: relative;
}

footer{
   background-color: var(--titles-col);
}

/* COMMON  */

body{
    font-family: 'Montserrat', sans-serif;
}

.flex-container{
    display: flex;
}

.app-wrapper{
    width: 100%;
    height: 100vh;
}

.home-page{
    padding: 0 1rem;
}

img{
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

h3{
    font-size: 0.8rem ;
    font-weight: 800;
    margin-top: 0.3rem;
}

h5{
    font-size: 0.6rem;
    color: var(--gray-col);
    margin-top: 0.3rem;
}


/* MAIN   */

/* nav ( barra laterale)  */

nav{
    background-color: rgb(63, 72, 3);
    width: 170px;
    overflow-y: hidden;
    padding-left: 1rem;
    flex-direction: column;
}

.spotify-logo img{
    width: 100px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

/* nav links   */

.nav-links li{
    font-size: 0.6rem;
    color: var(--gray-col);
    margin-top: 0.4rem;
}

.nav-links li:first-child{
    color: black;
}

.nav-links i{
    margin-right: 2px;
    font-size: 1rem;
}

/* nav playlist   */

.nav-playlist{
    flex-grow: 1;
    overflow-y: auto;
}

.nav-playlist ul{
    overflow-y: auto;
    height: 50%;
}

.nav-playlist h3{
    font-size: 0.7rem;
    margin-top: 1rem;
}

.crea-playlist{
    margin-top: 0.5rem;
    align-content: center;
    align-items: center;
}

.crea-playlist-symbol{
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.crea-playlist-symbol i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.playlist-box h3{
    margin-top: 0;
    padding-left: 0.5rem;
}

.nav-playlist ul{
    margin-top: 0.5rem;
    overflow-y: auto;
}

.nav-playlist li{
    font-size: 0.6rem;
    color: var(--gray-col);
    margin-top: 0.6rem;
}

/* profile banner  */

.profile-banner{
    background-color: yellow;
}

.profile-banner .install-app{
    font-size: 0.6rem;
    color: var(--gray-col);
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
}

.profile-banner .user-profile{
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-profile i{
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.profile-banner hr{
    color: var(--gray-col);
    width: 90%;
}


/* home page  */

.home-page{
    background-color: rgb(252, 137, 137);
    width: calc(100% - 170px);
    height: calc(100vh - 70px);
    padding-top: 60px;
    overflow-y: auto;
}

.upgrade-banner{
    background-color: rgba(0, 0, 0, 0.5) ;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    width: calc(100% - 170px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-button{
    margin-right: 1.5rem;
    font-size: 0.7rem;
    background-color: rgb(192, 29, 29);
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 2rem;
}

/* home-page nav banner  */

.home-page-nav ul {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--gray-col);
}

   .home-page-nav ul li{
       margin-left: 1.1rem;
   }

/* Recently played & Creato per John Doe & Popular artist  */

   .recently-played .song-card-columns{
       justify-content: space-between;
       margin-top: 1rem;
       width: 100%;
   }

   .song-card-col{
       width: 10rem;
       margin-right: 0.5rem;
   }

   .song-card-text{
        text-align: center;
   }

   .custom-playlist .song-card-columns{
       justify-content: flex-start
   }

   .blank-space-container{
       height: 10rem;
       width: 80%;
       background-color: #141922;
   }

   .subtitle-playlist{
       color: var(--gray-col);
       font-size: 0.7rem;
   }

   .popular-artist h3, .custom-playlist h3{
       margin-bottom: 1rem;
   }

   /* popular artist  */

   .circle-img{
        border-radius: 50%;
        overflow: hidden;
}





















/* FOOTER   */

footer{
    background-color: aqua;
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-container{
    height: 100%;
}

.footer-columns{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
}

.footer-col{
    
}

/* footer-sx   */
 
.footer-col-sx {
      margin-left: 1rem;
      align-items: center;
}

.footer-sx-text{
    margin-left: 0.5rem;
}

.footer-col-sx img{
     width: 2.5rem;
}

  .footer-sx-text h5{
    margin-top: -0.2rem;
}

.footer-sx-icons{
    margin-left: 1rem;
    font-size: 0.7rem;
}

  .footer-sx-icons i{
      margin-right: 0.5rem;
      color: var(--gray-col);
  }
   

